.footer-bg-container{
    width: 100%;
    background-color: #E7FEF5;
    background-size: cover;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-about-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.footer-logo-container{
    display: flex;
    align-items: center;
}
.footer-logo{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.footer-logo-name{
    font-family: 'Roboto';
    font-size: 18px;
    color: #3d6e02;
    font-weight: bold;
}
.footer-about-us-container{
    width: 30%;
}
.footer-about-items-container{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.footer-items-container{
    list-style-type: none;
    padding-left: 0px;
}
.footer-items{
    font-family: 'Roboto';
    font-size: 14px;
    color: #3d6e02;
    margin-bottom: 8px;
}
.footer-items-heading{
    font-family: 'Roboto';
    font-size: 18px;
    color: #3d6e02;
    font-weight: bold;
}
.footer-icons-container{
    width: 100%;
}
.footer-icon{
    width: 70%;
}
.footer-horizontal-line{
    width: 100%;
    border: 1px solid #3d6e02;
}

@media screen and (max-width:992px){
    .footer-logo{
        width: 35px;
        height: 35px;
        margin-right: 5px;
    }
    .footer-logo-name{
        font-size: 12px;
    }
    .footer-items{
        font-size: 10px;
    }
    .footer-items-heading{
        font-size: 15px;
    }
}